@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  min-height: 100dvh;
  max-width: 794px;
}

#deklaracja {
  font-family: 'Times New Roman', Times, serif;
  font-size: 9pt;
  background-color: white;
  color: black;

  .title {
    font-size: 10.5pt;
  }

  div {
    border: 0.1em solid black;
    padding: 0.2em;
    margin: 0
  }

  p {
    margin: 0;
    padding: 0;
  }

  .grey {
    /* background-color: rgb(216, 216, 216); */
    background-color: #d9d9d9; /* jasnoszary3 */
  }

  .white {
    background-color: white;
  }
}

h1, h2 {
  text-align: center;
}